<div class="blog-section blog-style-1-block content-section clearfix">


                                                                                            <style>
                                                                                                .pricing-item-text {
                                                                                                    text-align: center;
                                                                                                    font-size: 13px;
                                                                                                    border-bottom: 1px solid #cccccc54;
                                                                                                    padding: 6px 0;
                                                                                                    margin: 0;

                                                                                                }

                                                                                                .post-text {
                                                                                                    margin-bottom: 10px;
                                                                                                }

                                                                                                .purchase-btn {
                                                                                                    margin: auto;
                                                                                                    display: block !important;
                                                                                                    width: 60%;
                                                                                                    text-align: center;
                                                                                                }

                                                                                                .pricing-sub-title {
                                                                                                    display: block;
                                                                                                }

                                                                                            </style>

                                                                                            <article class="blog-item selector-padding column-4 tablet-column-2 mobile-column-1">

                                                                                                <div class="post-thumb">
                                                                                                    <a href="quisque-non-fermentum-proin-orci-quis-est/" title="Quisque non fermentum Proin orci quis est.">
					<img src="http://nikah1.themesawesome.com/wp-content/uploads/sites/96/2017/11/luis-tosta-259531-535x355.jpg" alt="Quisque non fermentum Proin orci quis est.">
					<div class="nikah-overlay"></div>
				</a>
                                                                                                </div>
                                                                                                <!-- thumbnail-->



                                                                                                <div class="post-content-wrap">
                                                                                                    <div class="post-content">

                                                                                                        <!-- if use meta -->
                                                                                                        <div class="meta-wrapper clearfix">
                                                                                                            <span class="standard-post-categories">HTML Template</span>
                                                                                                            <span class="pricing-sub-title">For the Tech Savy</span>
                                                                                                        </div>
                                                                                                        <!-- if use meta -->

                                                                                                        <!-- if use title -->
                                                                                                        <h2 class="post-title" style="font-size: 17px;">This will suit you if you have web development knowledge.</h2>

                                                                                                        <div class="separator-line"><span></span></div>
                                                                                                        <!-- if use title -->

                                                                                                        <!-- if use excerpt -->
                                                                                                        <div class="post-text">
                                                                                                            <p class="pricing-item-text">HTML/CSS/JS files</p>
                                                                                                            <p class="pricing-item-text">Tech Support</p>
                                                                                                            <p class="pricing-item-text">Weddingo Sub Domain</p>
                                                                                                        </div>
                                                                                                        <!-- if use excerpt -->

                                                                                                        <!-- if use read_more -->
                                                                                                        <a href="quisque-non-fermentum-proin-orci-quis-est/" class="read-more purchase-btn">
					Get It Now			</a>
                                                                                                        <!-- if use read_more -->
                                                                                                    </div>
                                                                                                </div>
                                                                                            </article>


                                                                                            <article class="blog-item selector-padding column-4 tablet-column-2 mobile-column-1">

                                                                                                <div class="post-thumb">
                                                                                                    <a href="quisque-non-fermentum-proin-orci-quis-est/" title="Quisque non fermentum Proin orci quis est.">
					<img src="http://nikah1.themesawesome.com/wp-content/uploads/sites/96/2017/11/luis-tosta-259531-535x355.jpg" alt="Quisque non fermentum Proin orci quis est.">
					<div class="nikah-overlay"></div>
				</a>
                                                                                                </div>
                                                                                                <!-- thumbnail-->



                                                                                                <div class="post-content-wrap">
                                                                                                    <div class="post-content">

                                                                                                        <!-- if use meta -->
                                                                                                        <div class="meta-wrapper clearfix">
                                                                                                            <span class="standard-post-categories">Marriage</span>
                                                                                                            <span class="pricing-sub-title">For the Tech Savy</span>
                                                                                                        </div>
                                                                                                        <!-- if use meta -->

                                                                                                        <!-- if use title -->
                                                                                                        <h2 class="post-title" style="font-size: 17px;">This will suit you if you have web development knowledge.</h2>

                                                                                                        <div class="separator-line"><span></span></div>
                                                                                                        <!-- if use title -->

                                                                                                        <!-- if use excerpt -->
                                                                                                        <div class="post-text">
                                                                                                            <p class="pricing-item-text">HTML/CSS/JS files</p>
                                                                                                            <p class="pricing-item-text">Tech Support</p>
                                                                                                            <p class="pricing-item-text">Weddingo Sub Domain</p>
                                                                                                        </div>
                                                                                                        <!-- if use excerpt -->

                                                                                                        <!-- if use read_more -->
                                                                                                        <a href="quisque-non-fermentum-proin-orci-quis-est/" class="read-more purchase-btn">
					Get It Now			</a>
                                                                                                        <!-- if use read_more -->
                                                                                                    </div>
                                                                                                </div>
                                                                                            </article>

                                                                                            <article class="blog-item selector-padding column-4 tablet-column-2 mobile-column-1">

                                                                                                <div class="post-thumb">
                                                                                                    <a href="quisque-non-fermentum-proin-orci-quis-est/" title="Quisque non fermentum Proin orci quis est.">
					<img src="http://nikah1.themesawesome.com/wp-content/uploads/sites/96/2017/11/luis-tosta-259531-535x355.jpg" alt="Quisque non fermentum Proin orci quis est.">
					<div class="nikah-overlay"></div>
				</a>
                                                                                                </div>
                                                                                                <!-- thumbnail-->



                                                                                                <div class="post-content-wrap">
                                                                                                    <div class="post-content">

                                                                                                        <!-- if use meta -->
                                                                                                        <div class="meta-wrapper clearfix">
                                                                                                            <span class="standard-post-categories">Wedding Invite</span>
							<span class="pricing-sub-title">For the Tech Savy</span>
                                                                                                        </div>
                                                                                                        <!-- if use meta -->

                                                                                                        <!-- if use title -->
                                                                                                        <h2 class="post-title" style="font-size: 17px;">This will suit you if you have web development knowledge.</h2>

                                                                                                        <div class="separator-line"><span></span></div>
                                                                                                        <!-- if use title -->

                                                                                                        <!-- if use excerpt -->
                                                                                                        <div class="post-text">
                                                                                                            <p class="pricing-item-text">HTML/CSS/JS files</p>
                                                                                                            <p class="pricing-item-text">Tech Support</p>
                                                                                                            <p class="pricing-item-text">Weddingo Sub Domain</p>
                                                                                                        </div>
                                                                                                        <!-- if use excerpt -->

                                                                                                        <!-- if use read_more -->
                                                                                                        <a href="quisque-non-fermentum-proin-orci-quis-est/" class="read-more purchase-btn">
					Get It Now			</a>
                                                                                                        <!-- if use read_more -->
                                                                                                    </div>
                                                                                                </div>
                                                                                            </article>

                                                                                            <article class="blog-item selector-padding column-4 tablet-column-2 mobile-column-1">

                                                                                                <div class="post-thumb">
                                                                                                    <a href="quisque-non-fermentum-proin-orci-quis-est/" title="Quisque non fermentum Proin orci quis est.">
					<img src="http://nikah1.themesawesome.com/wp-content/uploads/sites/96/2017/11/luis-tosta-259531-535x355.jpg" alt="Quisque non fermentum Proin orci quis est.">
					<div class="nikah-overlay"></div>
				</a>
                                                                                                </div>
                                                                                                <!-- thumbnail-->



                                                                                                <div class="post-content-wrap">
                                                                                                    <div class="post-content">

                                                                                                        <!-- if use meta -->
                                                                                                        <div class="meta-wrapper clearfix">
                                                                                                            <span class="standard-post-categories">Destination Weddingo</span>
							<span class="pricing-sub-title">For the Tech Savy</span>
                                                                                                        </div>
                                                                                                        <!-- if use meta -->

                                                                                                        <!-- if use title -->
                                                                                                        <h2 class="post-title" style="font-size: 17px;">This will suit you if you have web development knowledge.</h2>

                                                                                                        <div class="separator-line"><span></span></div>
                                                                                                        <!-- if use title -->

                                                                                                        <!-- if use excerpt -->
                                                                                                        <div class="post-text">
                                                                                                            <p class="pricing-item-text">HTML/CSS/JS files</p>
                                                                                                            <p class="pricing-item-text">Tech Support</p>
                                                                                                            <p class="pricing-item-text">Weddingo Sub Domain</p>
                                                                                                        </div>
                                                                                                        <!-- if use excerpt -->

                                                                                                        <!-- if use read_more -->
                                                                                                        <a href="quisque-non-fermentum-proin-orci-quis-est/" class="read-more purchase-btn">
					Get It Now			</a>
                                                                                                        <!-- if use read_more -->
                                                                                                    </div>
                                                                                                </div>
                                                                                            </article>


                                                                                        </div>